@import url("https://fonts.cdnfonts.com/css/dm-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monstarize";
  src: url("/public/fonts/monstarize.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: black;
  background-image: url(./assets/bgmbc.png);
  background-size: contain;
  background-repeat: repeat-y;
  font-family: "DM Sans", sans-serif;
}

.title {
  font-family: "Monstarize", sans-serif;
}

.landwolfbg {
  background-image: url(./assets/landwolfbg.png);
  background-size: cover;
  background-repeat: repeat-y;
}
.brettbg {
  background-image: url(./assets/brettbg.png);
  background-size: cover;
  background-repeat: repeat-y;
}

.pepebg {
  background-image: url(./assets/pepebg.png);
  background-size: cover;
  background-repeat: repeat-y;
}

.andybg {
  background-image: url(./assets/andybg.png);
  background-size: cover;
  background-repeat: repeat-y;
}

.birddogbg {
  background-image: url(./assets/birddogbg.png);
  background-size: cover;
  background-repeat: repeat-y;
}

@keyframes wobble {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.head-wobble {
  animation: wobble 3s ease-in-out infinite;
  transform-origin: bottom center;
}

.head-wobble2 {
  animation: wobble 1s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes headupdown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.head-updown {
  animation: headupdown 3s ease-in-out infinite;
}

@keyframes headupdownbrett {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0);
  }
}

.head-updownbrett {
  animation: headupdownbrett 3s ease-in-out infinite;
}

.head-leftright {
  animation: headleftright 5s ease-in-out infinite;
}

@keyframes headleftright {
  0% {
    transform: translateX(-60%);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(-60%);
  }
}

.backy {
  background-color: black;
}

.pepe-clip {
  -webkit-clip-path: url(#pepeClipPath);
  clip-path: url(#pepeClipPath);
}

@keyframes headupdownandy {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0);
  }
}

.head-updownandy {
  animation: headupdownandy 3s ease-in-out infinite;
}
.head-updownandy2 {
  animation: headupdownandy 2s ease-in-out infinite;
}

.spinny {
  animation: spinny 5s linear infinite;
}

.spinny1 {
  animation: spinny 8s linear infinite;
}

.spinny2 {
  animation: spinny 2s linear infinite;
}

.spinny3 {
  animation: spinny 12s linear infinite;
}

@keyframes spinny {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.btn {
  @apply py-4 px-4 lg:px-8 rounded-lg min-w-36 text-center font-black;
}
.btn-primary {
  @apply bg-slime-500 text-gray-950;
}
.btn-primary:hover {
  @apply bg-slime-600 text-gray-900;
}
.btn-secondary {
  @apply border border-slime-500 text-gray-200;
}
.btn-secondary:hover {
  @apply border-slime-700;
}
.btn-tertiary {
  @apply bg-gray-200 text-gray-800;
}
.btn-tertiary:hover {
  @apply border-slime-700;
}
.btn-dark {
  @apply bg-slime-black text-gray-200;
}
.btn-secondary:hover {
  @apply border-slime-700;
}

.btn-telegram {
  background-color: #52A7E4;
}

.btn-telegram:hover {
  background-color: #4998d1;
}

ul.roadmap {
  @apply text-gray-200 list-disc space-y-1 ml-4 leading-relaxed;
  li {
    @apply font-black;

    ol {
      @apply ml-3;
      li {
        @apply font-normal py-0;
      }
    }
  }
}